block Define
    -var basePath = '';
<!doctype html>
html
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width')
        block title
            title 面板        
        link(rel='stylesheet',href='#{basePath}plugs/bootstrap/css/bootstrap.min.css') 
        link(rel='stylesheet', href='#{basePath}css/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='#{basePath}plugs/datetimepicker/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='#{basePath}css/main.css')
        link(rel='stylesheet', href='#{basePath}js/metisMenu/metisMenu.min.css')        
        link(rel='stylesheet', href='#{basePath}css/foot.css')   
        link(rel='stylesheet', href='#{basePath}css/sb-admin-2.css')       
        block header
    body
        #wrapper
            nav.navbar.navbar-default.navbar-static-top(role='navigation',style='margin-bottom: 0')
                .navbar-header
                    button(type='button',data-toggle='collapse',data-target='.navbar-collapse').navbar-toggle
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    h2.dashboard-title
                        span 万物
                        
                    h4.dashboard-subtitle
                        img(src='#{basePath}/img/dot.png')
                        供应商平台
                .dashboard-top-line
                    span 
                        | 客服热线
                        span.navbar-phone 028-88888888
                    span.separate
                    a(href="javascript:;") 帮助中心
                    span.separate
                    a(href="javascript:;") 趣玩
                    span.separate
                    a(href="javascript:;") 退出

                                       
                .navbar-default.sidebar(role='navigation')
                    .sidebar-nav.navbar-collapse
                        ul.nav.in#side-menu                            
                            block menu
                                li(ui-sref-active='active')
                                    a(href='#{basePath}home.html').large 首页

                                li.navbar-group-title(href="#order_manage",data-toggle="collapse")
                                    | 我的订单
                                li#order_manage.collapse.in
                                    ul
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}order/index.html') 我的订单
                                        //
                                            li(ui-sref-active='active')
                                                a(href='javascript:;') 已发货订单
                                            li(ui-sref-active='active')
                                                a(href='javascript:;') 退款订单
                                            li(ui-sref-active='active')
                                                a(href='javascript:;') 所有订单

                                li.navbar-group-title(href="#product_manage",data-toggle="collapse")
                                    | 商品管理
                                li#product_manage.collapse
                                    ul                                        
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}product/index.html') 商品列表
                                        li(ui-sref-active='active')
                                            a(href='javascript:;') 单件商品添加
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}product/batch.html') 批量导入商品
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}Brand/index.html') 品牌列表
                                        li(ui-sref-active='active')
                                            a(href='javascript:;') 品牌管理
                                //
                                    li.navbar-group-title(href="#brand_manage",data-toggle="collapse")
                                        | 品牌管理
                                    li#brand_manage.collapse
                                        ul
                                            li(ui-sref-active='active')
                                                a(href='#{basePath}Brand/index.html') 品牌列表

                                li.navbar-group-title(href="#retailer_manage",data-toggle="collapse")
                                    | 分销商管理
                                li#retailer_manage.collapse
                                    ul
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}distributor/index.html') 分销商列表

                                li.navbar-group-title(href="#capital_manage",data-toggle="collapse")
                                    | 财务管理
                                li#capital_manage.collapse
                                    ul
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}capital/index.html') 我的账户
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}capital/record.html') 交易记录

                                li.navbar-group-title(href="#baseinfo_manage",data-toggle="collapse")
                                    | 基本信息维护
                                li#baseinfo_manage.collapse
                                    ul
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}info/index.html') 基本信息   
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}info/basicinfo.html') 完善认证信息设置    
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}info/freight.html') 运费设置
                                        li(ui-sref-active='active')
                                            a(href='javascript:;') 支付信息设置
                                        li(ui-sref-active='active')
                                            a(href='#{basePath}info/changepwd.html') 修改密码
                                        //
                                            li(ui-sref-active='active')
                                                a(href='javascript:;') 交易记录
                                            li(ui-sref-active='active')
                                                a(href='#{basePath}message/index.html') 站内信  
                  
            #page-wrapper
                    block Right
        include foot.jade
        script(type='text/javascript',src='#{basePath}plugs/jquery/jquery.min.js')
        script(type='text/javascript',src='#{basePath}plugs/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript',src='#{basePath}plugs/datetimepicker/bootstrap-datetimepicker.min.js')
        script(type='text/javascript',src='#{basePath}plugs/datetimepicker/bootstrap-datetimepicker.zh-CN.js')
        script(type='text/javascript',src='#{basePath}js/metisMenu/metisMenu.min.js')
        script(type='text/javascript',src='#{basePath}js/sb-admin-2.js')
        script(type='text/javascript',src='#{basePath}js/dialog.js')
        block foot
