extends ../dashboard.jade
block Define
    -var basePath = '../';

block menu
    li(ui-sref-active='active')
        a(href='#{basePath}home.html') 首页
    li(ui-sref-active='active')
        a(href='#{basePath}manage/supplier/index.html') 供应商管理
    li(ui-sref-active='active')
        a(href='#{basePath}product/index.html') 分销商管理
    li(ui-sref-active='active')
        a(href='#{basePath}manage/Brand/index.html') 品牌管理
    li(ui-sref-active='active')
        a(href='#{basePath}manage/distributor/index.html') 商品管理
    li(ui-sref-active='active')
        a(href='#{basePath}capital/index.html') 投诉举报
    li(ui-sref-active='active')
        a(href='#{basePath}manage/account/index.html') 账号设置 