extends ../dashboard.jade
block Define
    -var basePath = '../';
    -var active = 0;
    -var orderSta = ["全部","待发货","已发货","退款中","订单已完成","订单已关闭"];
    -var selectedV = 1
    block OrderDefine

block header
    link(rel='stylesheet', href='#{basePath}css/order.css')
    block OrderHeader

block Right
    .order
        ul.nav.nav-tabs.nav-custom
            li(role='presentation',class=active==0 ? 'active' : '')
                a(href='index.html') 待发货订单
            li(role='presentation',class=active==1 ? 'active' : '')
                a(href='returnofgoods.html') 待退货订单
            li(role='presentation',class=active==2 ? 'active' : '')
                a(href='willpay.html') 未付款订单
            li(role='presentation',class=active==3 ? 'active' : '')
                a(href='all.html') 所有订单
        block OrderContent
